<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>mustache.js模板引擎</title>
    <script src="/zepto/zepto.js"></script>
    <script src="mustache.js"></script>
</head>
<body>
<div id="con"></div>
<div id="con1"></div>
<script>
    // 内嵌模板
    $(document).ready(function(){
        var template = $('#template').html();
        Mustache.parse(template);   // optional, speeds up future uses
        var rendered = Mustache.render(template, {name: "Luke"});
        $('#con').html(rendered);
    });

    // 外部模板
    $(document).ready(function(){
        $.get('template.mst', function(template) {
            var rendered = Mustache.render(template, {name: "Mark"});
            $('#con1').html(rendered);
        });
    });
</script>

<script id="template" type="x-tmpl-mustache">
Hello {{ name }}!
</script>
</body>
</html>